.tag_list {
  display: grid;
  grid-template-columns: repeat(
    3,
    minmax(200px, 1fr)
  ); /* Adjust min and max width as needed */
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .tag_list {
    grid-template-columns: repeat(
      auto-fit,
      minmax(150px, 1fr)
    ); /* Adjust min and max width as needed */
  }
}

@media screen and (max-width: 480px) {
  .tag_list {
    grid-template-columns: repeat(
      auto-fit,
      minmax(100px, 1fr)
    ); /* Adjust min and max width as needed */
  }
}
