.comment-container {
    display: flex;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 5px; 
    padding: 10px;
    border-radius: 10px;
    margin-top:10px;
}
.comment-votes {
    display: flex;
    align-items: center;
}
.comment-text {
    width: 70%;
    font-size: small;
    display: flex;
    align-items: center;
}
.comment-by {
    font-size: small;
    display: flex;
    align-items: center;
}